/*************************TAG SELECTORS **************************/

body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-style: none;
    border-top: 7px dotted #A6B1E1;
    width: 7%
}

h1, h2 {
    color: #3B3D4F;
}

h3 {
    color: #82828F;
}

h1:hover, h2:hover, h3:hover {
    color: #A6B1E1;
}

/***********************CLASS SELECTORS .bacon *************************/

.profilepic {
    border-radius: 100%
}


/***********************ID SELECTORS #bacon one instance ***************************/
